 <!-- Qualification Start -->
 <div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px; font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Bachelor of Technology</h5>
                        <p class="mb-2"><strong>Institut Universitaire de la côte(IUC)</strong> | <small>2023 - 2024</small></p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Higher National Diploma(HND)</h5>
                        <p class="mb-2"><strong>Institut Universitaire de la côte(IUC)</strong> | <small>2022 - 2023</small></p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">GCE Advanced Level</h5>
                        <p class="mb-2"><strong>College Moderne Bilingue L'Etoile</strong> | <small>2020 - 2021</small></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Expericence</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Web Designer</h5>
                        <p class="mb-2"><strong>DidacSoft Company</strong> | <small> Excellent</small></p>
                        <p>I have acquired skills on web design during a period of 3 months internship at DidacSoft company.</p>
                    </div>
                    <div class="position-relative ex-me mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px;left: -35px;  font-size: 22px;"></i>
                        <h5 class="font-weight-bold mb-1">Web Development</h5>
                        <p class="mb-2"><strong>Mounir Holding Company</strong> | <small> Excellent</small></p>
                        <p>I have acquired skills on web development during a period of 3 months internship at DidacSoft company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Qualification End -->
